#herbLIST
  %ul.list
    - @herbs.each_with_index do |herb|
      %li.herbITEM{class: herb.draft_status == 'draft' ? 'draft' : ''}
        .buttons
          %a{href: "/admin/herb/edit/#{herb.slug}"} Edit Herb
          %a{href: "/admin/user/#{herb.user.slug}"}
            Posted by:
            %span= herb.user.username.downcase
        .herbItemINFO
          %p.herbName= herb.name
          %p.herbLatinName= herb.latin_name
