.toolbar
  .header= header.html_safe
  - if page == 'herbsINDEX' || page == 'herbsSHOW'
    %input#searchBAR.search{type: 'text', autocomplete: :off, placeholder: 'search for an herb...'}
    %ul.sortBUTTONS
      %li Sort by:
      %li.sort{data:{sort:'herbName'}} Name
      %li.sort{data:{sort:'herbLatinName'}} Latin Name
      %li.sort{data:{sort:'draftStatus'}} Draft Status
    %a.toolbarB{href: '/admin/herb/new'} New Herb
  - if page == 'categoriesINDEX'
    %a{class: 'toolbarB', href: '/admin/category/new'} New Category
  - if page == 'herbNEW'
    .buttons
      .toolbarB#submitB
        .buttonLOADING
          %img{src: "#{public_path}/images/spinner_black.svg"}
        %input{type: 'submit', value: 'SAVE'}
      %a{href: "/admin", class: 'toolbarB', id: 'cancelB'} CANCEL
  - if page == 'herbEDIT'
    .loading
      %img{src: "#{public_path}/images/spinner_white.svg"}
    .warning
      %p Delete <span>permanently</span>?
      #deleteB{data:{slug: @herb.slug}} YES DELETE FOREVER
      #cancelWarningB CANCEL
    .buttons
      .toolbarB#submitB
        .buttonLOADING
          %img{src: "#{public_path}/images/spinner_black.svg"}
        %input{type: 'submit', value: 'SAVE'}
      .toolbarB#warningB DELETE
      %a{href: "/herbs/#{@herb.slug}", class: 'toolbarB mini-toolbarB', target: '_blank'}
        %img{src: "#{public_path}/images/icons/external_link_icon_black.svg"}
  - if page == 'categoryEDIT'
    .loading
      %img{src: "#{public_path}/images/spinner_white.svg"}
    .warning
      %p Delete <span>permanently</span>?
      #deleteB{data:{slug: @category.slug}} YES DELETE FOREVER
      #cancelWarningB CANCEL
    .buttons
      .toolbarB#submitB
        .buttonLOADING
          %img{src: "#{public_path}/images/spinner_black.svg"}
        %input{type: 'submit', value: 'SAVE'}
      .toolbarB#warningB DELETE
      %a{href: "/category/#{@category.slug}", class: 'toolbarB mini-toolbarB', target: '_blank'}
        %img{src: "#{public_path}/images/icons/external_link_icon_black.svg"}
  - if page == 'categoryNEW'
    .buttons
      .toolbarB#submitB
        .buttonLOADING
          %img{src: "#{public_path}/images/spinner_black.svg"}
        %input{type: 'submit', value: 'SAVE'}
      %a{href: "/admin/categories", class: 'toolbarB', id: 'cancelB'} CANCEL
