#herbsSEARCH
  -# /////////////////////////////////////////////////////////////// Categories
  %ul#categories{data:{categories:@categories.pluck(:slug)}}
    - @categories.each do |category|
      %li{class: "categoryTILE", data:{name: category.name}}
        %img{src: "#{public_path}/#{category.icon.url.to_s}"}
        %p= category.name

  -# //////////////////////////////////////////////////////////////// Herb List
  #herbLIST.herbLIST
    %ul.list
      - @herbs.each_with_index do |herb|
        %li.herbITEM
          %a{href: "/herbs/#{herb.slug}"}
            - if herb.thumbnail.url == nil
              .thumbnailMissingIND
                %p Image not available
            .herbIMG{data:{original:"#{herb.thumbnail.thumb.url.to_s}"}}
            .herbItemINFO
              %p.herbName= herb.name
              %p.herbLatinName= herb.latin_name
              - herb.categories.each do |category|
                %div{class: "category #{category.slug}"}= category.name
