.wrapper
  = render 'layouts/adminTOOLBAR'
  = render 'layouts/loginFORM'
  = render 'herbs/editHerbPANEL'
  = render 'herbs/newHerbPANEL'
  .console
    = render 'herbs/herbsList'
    = render 'herbs/herbPanel'
