#herbLIST
  - if logged_in?
    - @herbs.each_with_index do |herb|
      - if herb.draft_status == 'draft'
        %a{href: "/herbs/#{herb.slug}", class: 'herbITEM draftHerbITEM'}
          .draftCOVER.flex-c
            %p.draftTITLE DRAFT
            %p= herb.name
            %p= herb.latin_name
          .herbIMG{data:{original:"../uploads/#{herb.thumbnail}"}}
          .herbItemINFO
            %p= herb.name
            %p= herb.latin_name
  - @herbs.each_with_index do |herb|
    - if herb.draft_status == 'live'
      %a{href: "/herbs/#{herb.slug}", class: 'herbITEM'}
        .herbIMG{data:{original:"../uploads/#{herb.thumbnail}"}}
        .herbItemINFO
          %p= herb.name
          %p= herb.latin_name
