#leftPANEL
  .box
    - if params[:controller] == 'categories'
      %h5= @category.name
    - elsif session[:current_category] == nil
      %h5 All Herbs
    - else
      %h5= session[:current_category]

    -# - binding.pry
    -# - if params[:controller] == 'categories'
    -#   %h5= @category.name
    -# - elsif @back != nil || @back[:controller] == 'categories' || @back[:controller] == 'herbs'
    -#   %h5= @back[:slug]
    -# - else
    -#   %h5 All Herbs
  #herbLIST
    - @herbs.each_with_index do |herb|
      %a{href: "/herbs/#{herb.id}", class: 'herbITEM'}
        .herbIMG{style: "background-image: url('../uploads/#{herb.thumbnail}')"}
        .herbItemINFO
          %p= herb.name
          %p= herb.latin_name
