#leftPANEL
  .box
    - if params[:controller] == 'herbs'
      %h5 All Herbs
    - else
      %h5= @category.name
  #herbLIST
    - @herbs.each_with_index do |herb|
      %a{href: "/herbs/#{herb.id}", class: 'herbITEM'}
        .herbIMG{style: "background-image: url('../uploads/#{herb.thumbnail}')"}
        .herbItemINFO
          %p= herb.name
          %p= herb.latin_name
