#herbLIST
  = render 'shared/search'
  %ul.list
    - @herbs.each_with_index do |herb|
      - if herb.draft_status == 'live'
        %li.herbITEM
          %a{href: "/herbs/#{herb.slug}"}
            .herbIMG{data:{original:"#{herb.thumbnail.url.to_s}"}}
            .herbItemINFO
              %p.herbName= herb.name
              %p.herbLatinName= herb.latin_name
