.wrapper#herbEDIT
  .container
    = render 'admin/nav'
    = form_tag('/herbs', method: 'patch', multipart: true, class: 'herbFORM') do
      %input{type: 'hidden', name: 'herbs[slug]', value: @herb.slug, autocomplete: :off}
      = render 'admin/toolbar', page: 'herbEDIT', header: "Now Editing: <span>#{@herb.name}</span>"
      .content
        #sidebar
          %section
            %label.subtitle{for: 'name'} Name
            %input{type: 'text', name: 'herbs[name]', id: 'name', autocomplete: :off, placeholder: @herb.name, value: @herb.name}
          %section
            %label.subtitle{for: 'latin_name'} Latin name
            %input{type: 'text', name: 'herbs[latin_name]', id: 'latin_name', autocomplete: :off, placeholder: @herb.latin_name, value: @herb.latin_name}
          %section
            .subtitle Upload Image
            %img{src: "#{public_path}/#{@herb.thumbnail.url.to_s}", class: "imagePreviewCONTAINER #{@herb.thumbnail.url != nil ? 'active' : ''}"}
            .imageUploadCONTAINER
              %label{for: 'thumbnail'} Click here to upload
              %input{type: 'file', name: 'herbs[thumbnail]', id: 'thumbnail', data:{num: 0}}
          %section
            .subtitle Category
            .checkboxCONTAINER{data:{categories:@herb.categories.ids}}
              - @categories.each_with_index do |c, ind|
                .row
                  %input{type: 'checkbox', name: 'herbs[category_ids][]', id: "categoryCHECKBOX-#{ind}", class: 'checkbox', value: c.id, data:{id:c.id}}
                  %label{for: "categoryCHECKBOX-#{ind}"}= c.name
          %section
            .subtitle Draft Status
            .radioCONTAINER
              .row
                %input{type: 'radio', name: 'herbs[draft_status]', id: "draft_status_draft", class: 'radio', value: 'draft', checked: @herb.draft_status == 'draft' ? true : false}
                %label{for: "draft_status_draft"} Draft
              .row
                %input{type: 'radio', name: 'herbs[draft_status]', id: "draft_status_live", class: 'radio', value: 'live', checked: @herb.draft_status == 'live' ? true : false}
                %label{for: "draft_status_live"} Live
        #leftPANEL
          %textarea{name: 'herbs[information]', class: '', autocomplete: :off, placeholder: 'Information'}= @herb.information
        #rightPANEL
          .herbCONTAINER
            #herbNAME
            #herbLatinNAME
            #info
              #previewTEXT
