.wrapper#herbIndexPAGE
  = render 'layouts/adminTOOLBAR'
  = render 'layouts/loginFORM'
  = render 'herbs/newHerbPANEL'
  .console
    = render 'layouts/nav'
    #leftPANEL
      = render 'categories/categoryLIST'
      %h6.title ALL HERBS
      = render 'herbs/herbLIST'
    #rightPANEL.flex-c
      #selectIND Select an herb or category to view more information
    %img{src: '../images/logo.png', id: 'logo'}
