.wrapper#herbShowPAGE
  = render 'shared/nav'
  = render 'shared/herbsSEARCH'
  .container
    .content
      .herbCONTAINER
        %h1#herbNAME= @herb.name
        %h6#herbLatinNAME= @herb.latin_name
        #info
          = @herb.information.html_safe
