.wrapper#herbPAGE
  = render 'layouts/adminTOOLBAR'
  = render 'layouts/loginFORM'
  = render 'herbs/editHerbPANEL'
  = render 'herbs/newHerbPANEL'
  .console
    %img{src: '../images/icons/close_icon_black.svg', id: 'closeB'}
    = render 'pages/about'
    = render 'pages/contact'
    = render 'layouts/nav'
    #leftPANEL
      = render 'categories/categoryLIST'
      %h6.title= @title
      = render 'herbs/herbLIST'
    #rightPANEL.flex-c
      %img{src: '../images/icons/close_icon_black.svg', id: 'herbPanelCloseB'}
      - if logged_in?
        #editHerbB Edit Herb
      #categoryListTOGGLE
        %p Categories
        %img{src: '../images/icons/close_icon_black.svg'}
      #herbPANEL{data:{categories:@herb.categories.ids}}
        %section
          #herbNAME= @herb.name
          #herbLatinNAME= @herb.latin_name
        %section#description
          = @herb.information.html_safe
    %img{src: '../images/logo.png', id: 'logo'}
