.wrapper#herbPAGE
  = render 'shared/nav'
  .console
    .content
      .herbCONTAINER
        #herbNAME= @herb.name
        #herbLatinNAME= @herb.latin_name
        #info
          = @herb.information.html_safe
      = render 'herbs/herbLIST'
