.wrapper#categoryEDIT
  .console
    = render 'admin/nav'
    .content
      = form_tag('/categories', method: 'patch', multipart: true, class: 'generalFORM') do
        %input{type: 'hidden', name: 'categories[slug]', value: @category.slug, autocomplete: :off}
        .toolbar
          .loading
            %img{src: "#{public_path}/images/spinner.svg"}
          .warning
            %p Delete <span>permanently</span>?
            #deleteB{data:{slug: @category.slug}} YES DELETE FOREVER
            #cancelWarningB CANCEL
          .header
            Now Editing:
            %span= @category.name
          .buttons
            %input{type: 'submit', class: 'toolbarB', id: 'submitB', value: 'SAVE'}
            .toolbarB#warningB DELETE
            %a{href: "/category/#{@category.slug}", id: 'viewB', class: 'toolbarB', target: '_blank'}
              %img{src: "#{public_path}/images/icons/external_link_icon_black.svg"}
        %section
          %label.subtitle{for: 'name'} Name
          %input{type: 'text', name: 'categories[name]', id: 'name', autocomplete: :off, placeholder: @category.name, value: @category.name}
        %section
          .subtitle Upload Icon
          %img{src: "#{public_path}/#{@category.icon.url.to_s}", class: "imagePreviewCONTAINER #{@category.thumbnail.url != nil ? 'active' : ''}"}
          .imageUploadCONTAINER
            %label{for: 'icon'} Click here to upload
            %input{type: 'file', name: 'categories[icon]', id: 'icon', data:{num:0}}
        %section
          .subtitle Upload Thumbnail
          %img{src: "#{public_path}/#{@category.thumbnail.url.to_s}", class: "imagePreviewCONTAINER #{@category.thumbnail.url != nil ? 'active' : ''}"}
          .imageUploadCONTAINER
            %label{for: 'thumbnail'} Click here to upload
            %input{type: 'file', name: 'categories[thumbnail]', id: 'thumbnail', data:{num:1}}
