.wrapper#categoryEDIT
  .container
    = render 'admin/nav'
    = form_tag('/categories', method: 'patch', multipart: true, class: 'categoryFORM') do
      %input{type: 'hidden', name: 'categories[slug]', value: @category.slug, autocomplete: :off}
      = render 'admin/toolbar', page: 'categoryEDIT', header: "Now Editing: <span>#{@category.name}</span>"
      .content
        %section
          %label.subtitle{for: 'name'} Name
          .sectionWRAPPER
            %input{type: 'text', name: 'categories[name]', id: 'name', autocomplete: :off, placeholder: 'Name', value: @category.name}
        %section
          .subtitle Icon
          .sectionWRAPPER
            %img{src: "#{public_path}/#{@category.icon.url.to_s}", class: "imagePreviewCONTAINER #{@category.thumbnail.url != nil ? 'active' : ''}"}
            .imageUploadCONTAINER
              %label{for: 'icon'} Click here to upload
              %input{type: 'file', name: 'categories[icon]', id: 'icon', data:{num:0}}
        %section
          .subtitle Thumbnail
          .sectionWRAPPER
            %img{src: "#{public_path}/#{@category.thumbnail.url.to_s}", class: "imagePreviewCONTAINER #{@category.thumbnail.url != nil ? 'active' : ''}"}
            .imageUploadCONTAINER
              %label{for: 'thumbnail'} Click here to upload
              %input{type: 'file', name: 'categories[thumbnail]', id: 'thumbnail', data:{num:1}}
