.wrapper#categoryPAGE
  = render 'layouts/adminTOOLBAR'
  = render 'layouts/loginFORM'
  = render 'herbs/newHerbPANEL'
  .console
    #closeB
      %img{src: '../images/icons/close_icon_black.svg'}
    = render 'pages/about'
    = render 'layouts/nav'
    #leftPANEL
      = render 'categories/categoryLIST'
      %h6.title
        - if params[:controller] == 'categories'
          = @category.name
        - elsif session[:current_category] == nil
          All Herbs
        - else
          = session[:current_category]
      = render 'herbs/herbLIST'
    .categoryPANEL#rightPANEL.flex-c
      %div.flex-c
        %img{src: "../images/categories/#{strip_string(@category.name.downcase)}.svg", class: 'categoryIMG'}
        %h5= @category.name
    %img{src: '../images/logo.png', id: 'logo'}
